<a href="https://colab.research.google.com/github/Hatsuhinode/Python/blob/main/basicPython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Types in Python**

### Numeric Type Data

In [2]:
integerData = 10
floatingPointNumber = 10.5
complexNumber = 10 + 8j

In [3]:
complexNumber.real

10.0

In [ ]:
complexNumber.imag

8.0

In [4]:
type(integerData)

int

In [ ]:
type(floatingPointNumber)

float

In [ ]:
type(complexNumber)

complex

In [ ]:
integerData + complexNumber

(20+8j)

In [ ]:
floatingPointNumber + complexNumber

(20.5+8j)

In [ ]:
integerData / complexNumber

(0.6097560975609757-0.48780487804878053j)

In [ ]:
floatingPointNumber / complexNumber

(0.6402439024390244-0.5121951219512195j)

#### Multiplication , Power and Subtraction operations are also possible between all 3 numeric data types.

In [5]:
integer1 = int(floatingPointNumber)
integer1

10

In [ ]:
floating1 = float(integerData)
floating1

10.0

In [ ]:
integerReal = int(complexNumber.real)
integerReal

10

In [ ]:
type(complexNumber.real)

float

In [ ]:
print(complexNumber.real)

10.0

In [ ]:
type(complexNumber.imag)

float

In [ ]:
print(complexNumber.imag)

8.0

### Sequence type data

In [ ]:
stringData = 'Doraemon'
type(stringData)

str

In [ ]:
int(stringData)

ValueError: ignored

In [ ]:
stringData2 = '323'
int(stringData2)

323

In [ ]:
float(stringData2)

323.0

In [ ]:
complex1 = complex(integerData)
complex1

(10+0j)

In [ ]:
complex2 = complex(floatingPointNumber)
complex2

(10.5+0j)

#### List and Tuples are also sequence type datas.

### Mapping Type Data

#### Dictionary is mapping type data.

### Set Type Data

#### Sets are set type datas.

### Boolean Type Data

In [ ]:
booleanData = True
type (booleanData)

bool

In [ ]:
not booleanData

False

### None type data

In [ ]:
noneData = None # None type data is used to denote no value.
type(None)

NoneType


#### Input from user

In [9]:
num1 = input("Enter first number:\n")
num2 = input("Enter second number:\n")

# Mathematical operations in Python

### Addition operation

In [10]:
print(num1 + num2)

1213

In [11]:
n1 = int(num1)
n2 = int(num2)

In [12]:
n1 + n2

25

In [13]:
num1 + num2

'1213'

<pre> 1. For addition                 n1+n2 </pre>
<pre> 2. For multiplication           n1 * n2 </pre>
<pre> 3. For subtraction              n1 - n2 </pre>
<pre> 4. For exponentiation           n1 ** n2 </pre>
<pre> 5. For division                 n1 / n2 </pre>
<pre> 6. For floor division           n1//n2 </pre>
<pre> 7. For modulus                  n1 % n2 </pre>

### Multiplication operation

In [ ]:
n1 * n2

200

###Power

In [ ]:
2 ** 3

8

In [ ]:
3 ** 2

9

### Subtraction operation

In [ ]:
n1 - n2

-10

### Division operation

In [ ]:
99 / 5

19.8

In [ ]:
int(99 / 5)

19

In [14]:
10/3

3.3333333333333335

In [ ]:
int(10 / 3)

3

In [69]:
# 10\3

103

### Importing Library

In [ ]:
import math

In [ ]:
ceilingResult = math.ceil(99/5)
print(ceilingResult)

20

In [ ]:
floorResult = math.floor(99/5)
floorResult

19

In [ ]:
99//5

19

### Modulus operation

In [ ]:
10 % 3

1

In [ ]:
10 % 2

0

# Precedence of operators

<pre>1. Parentheses ()</pre>
<pre>2. Exponentiation ** </pre>
<pre>3. Multiplication *, Division /, Floor Division //, Modulus %</pre>
<pre>4. Addition +, Subtraction -</pre>

#### **Multiplication, division, floor division, and modulus operations** are evaluated from **left to right**.

#### **Addition** and **subtraction** operations are evaluated from **left to right**.

In [15]:
2 + 3 * 4

14

In [16]:
(2 + 3) * 4

20

In [19]:
2 + 3 * 5 / 5 - 1

4.0

In [ ]:
2 + 3 * 5 // 5 - 1

4

####  The division / between two integers results in float. The floor division // between two integers results in an integer.

In [1]:
3 ** 2 ** 2

81

#### Exponentiation (**) has right-to-left precedence, meaning the rightmost exponentiation is evaluated first.

# List, Tuple, Set and Dictionary

### List

In [3]:
listOfElements = [1,2, "Nezuko", 3.5]

In [ ]:
print(listOfElements)

[1, 2, 'Nezuko', 3.5]

In [ ]:
listOfElements[2]

'Nezuko'

In [ ]:
listOfElements[:3]

[1, 2, 'Nezuko']

In [ ]:
listOfElements[1:3]

[2, 'Nezuko']

In [4]:
listOfElements[1:]

[2, 'Nezuko', 3.5]

#### Empty list

In [5]:
emptyList = []

In [10]:
emptyList.append([5,'j'])

In [7]:
emptyList.append(10)

In [11]:
emptyList

[5, 10, [5, 'j']]

In [12]:
emptyList = [1] + emptyList

In [13]:
emptyList

[1, 5, 10, [5, 'j']]

#### listname.insert(index,object)  inserts a new object in that index position pushing other elements back

In [22]:
emptyList.insert(0,0.5)

In [23]:
emptyList

[0.5, 1, 0.5, 0.5, 0.5, 0.5, 5, 10, [5, 'j']]

In [ ]:
emptyList.insert(2,3.5)

In [ ]:
emptyList

[0.5, 1, 3.5, 5, 10]

### listname.pop() deletes the last element of that list

In [24]:
emptyList.pop()

[5, 'j']

In [25]:
emptyList

[0.5, 1, 0.5, 0.5, 0.5, 0.5, 5, 10]

In [26]:
emptyList[3] = 5.5

We can directly change element of any index by simply assigning the value.

In [27]:
emptyList

[0.5, 1, 0.5, 5.5, 0.5, 0.5, 5, 10]

#### **List** is **mutable**, meaning you can add, remove, or modify elements after the list is created. Lists are denoted by square brackets **[ ]** and can hold elements of different data types.

### Tuple

#### **Tuples** are **immutable** .

In [28]:
tuple1 = tuple(emptyList)

> Creating a tuple out of a list.

In [29]:
tuple1

(0.5, 1, 0.5, 5.5, 0.5, 0.5, 5, 10)

In [30]:
tuple2 = (10,20,30,40,50,60)

In [31]:
tuple2

(10, 20, 30, 40, 50, 60)

#### Adding elements to tuple

In [32]:
newTuple = (0,5) + tuple2 + (70, 80)

In [33]:
newTuple

(0, 5, 10, 20, 30, 40, 50, 60, 70, 80)

####**You can concatenate tuples to create a new tuple.**

#### Removing elements from tuple

In [34]:
newTuple2 = newTuple[0:3] + newTuple[-3:]

In [35]:
newTuple2

(0, 5, 10, 60, 70, 80)

#### Modifying elements in a tuple

In [42]:
newTuple3 = newTuple2[:2] + (50,) + newTuple2[-2:]

- In order to add a single value, use (value,) to show that it is a tuple { comma is important }  ex: (50, )
- No need to use comma at the end it contains more that one element  ex: (50,45)

In [41]:
newTuple3

(0, 5, 50, 45, 70, 80)

* Tuple is immutable.

In [43]:
newTuple3[2] = 50.5

TypeError: 'tuple' object does not support item assignment

# Indexing

In [44]:
newTuple3[2]

50

# Slicing

In [ ]:
newTuple3[:3]

(0, 5, 50)

# Set

In [62]:
newSet = set(newTuple3)

``` Typecasting to set ```

In [63]:
newSet

{0, 5, 50, 70, 80}

In [64]:
newSet.add('a')
newSet.add('\n')
newSet.add('A')
newSet.add('?')

* Set is unordered. So, the output may vary every time you  print a set.

In [65]:
newSet

{'\n', 0, 5, 50, 70, 80, '?', 'A', 'a'}

In [66]:
newSet.remove(50)

- setname.remove(element)         
- ~~setname.remove(index)~~

In [67]:
newSet

{'\n', 0, 5, 70, 80, '?', 'A', 'a'}

- set.remove() gives KeyError if element is not present in the set.
- set.discard() doesn't give error if element is not present.

In [68]:
newSet.discard(70)

In [60]:
newSet

{'\n', 0, 5, 80, '?', 'A', 'a'}

In [107]:
updatingSet = {90,3,80,30}
updatingSet

{3, 30, 80, 90}

In [ ]:
type(updatingSet)

set

In [80]:
updatingSet

{3, 30, 80, 90}

In [108]:
newSet.update(updatingSet)

In [117]:
print(newSet)

{0, '\n', 3, 5, 'a', 80, 30, '?', 90, 'A'}

In [ ]:
newSet.update([8,1])

In [ ]:
newSet

{0, 1, 3, 5, 8, 30, 80, 90}

#### Sets are unordered collections of unique elements.

In [ ]:
newSet[1]

TypeError: ignored

#### Sets do not support indexing or slicing because they are unordered collections.

In [119]:
newSet2 = {3, 2, 12, 11, 70}

In [120]:
newSet2

{2, 3, 11, 12, 70}

In [122]:
sortedSet = sorted(newSet2, reverse=True)
print(sortedSet)
sortedSet = sorted(newSet2, reverse=False)
print(sortedSet)

[70, 12, 11, 3, 2]
[2, 3, 11, 12, 70]

In [123]:
newSet3 = {3, 2, 12, 11, 70}
sortedSet2 = sorted(newSet3, reverse=True) # By default reverse = False for sorted().
print(sortedSet2)

[70, 12, 11, 3, 2]

### Dictionary

In [ ]:
dictionary1 = {}

dictionary1['Driver'] = 'Sinpachi'
dictionary1['Cook'] = 'Kagura'
dictionary1['Janitor'] = 'Gintama'

dictionary1

{'Driver': 'Sinpachi', 'Cook': 'Kagura', 'Janitor': 'Gintama'}

dictionary_name[legend] = object

In [24]:
dictionary2 = {1:'Pen',
               10:'Pencil',
               20:'Notebook',
               3:'Chemistry book',
               4:'Arithmetic book',
               'e':'Eraser',
               'A':1}

In [14]:
dictionary2

{1: 'Pen',
 10: 'Pencil',
 20: 'Notebook',
 3: 'Chemistry book',
 4: 'Arithmetic book',
 'A': 1}

In [5]:
dictionary2[1]

Pen

1

In [ ]:
dictionary2['e']

'Eraser'

In [ ]:
dictionary2['A']

1

In [ ]:
dictionary2[3]

'Chemistry book'

In [ ]:
dictionary2[4]

'Arithmetic book'

#### Removing

In [ ]:
del dictionary2['A']

In [18]:
dictionary2

{1: 'Pen',
 10: 'Pencil',
 20: 'Notebook',
 3: 'Chemistry book',
 4: 'Arithmetic book',
 'e': 'Eraser',
 'A': 1}

#### **Dictionaries are mutable**, which means their keys and values can be edited after the dictionary is created.

In [25]:
dictionary2.pop('e')

'Eraser'

In [26]:
dictionary2

{1: 'Pen',
 10: 'Pencil',
 20: 'Notebook',
 3: 'Chemistry book',
 4: 'Arithmetic book',
 'A': 1}

In [27]:
dictionary2['e'] = 'Eraser'

In [28]:
dictionary2

{1: 'Pen',
 10: 'Pencil',
 20: 'Notebook',
 3: 'Chemistry book',
 4: 'Arithmetic book',
 'A': 1,
 'e': 'Eraser'}

In [29]:
dictionary2[5] = dictionary2.pop('e')

- pop('key') deletes that key and value from dictionary.
- popitem() deletes last key and value from dictionary.

In [34]:
dictionary2.popitem()

(4, 'Arithmetic book')

In [35]:
dictionary2

{1: 'Pen', 10: 'Pencil', 20: 'Notebook', 3: 'Chemistry book'}

In [ ]:
dictionary2.keys()

dict_keys([1, 10, 20, 3, 4, 5])

In [ ]:
dictionary2.values()

dict_values(['Pen', 'Pencil', 'Notebook', 'Chemistry book', 'Arithmetic book', 'Eraser'])

In [ ]:
dictionary2.items()

dict_items([(1, 'Pen'), (10, 'Pencil'), (20, 'Notebook'), (3, 'Chemistry book'), (4, 'Arithmetic book'), (5, 'Eraser')])

#### To list

In [ ]:
listOfKeys = list(dictionary2.keys())
listOfKeys

[1, 10, 20, 3, 4, 5]

In [ ]:
tupleOfitems = tuple(dictionary2.items())
tupleOfitems

((1, 'Pen'),
 (10, 'Pencil'),
 (20, 'Notebook'),
 (3, 'Chemistry book'),
 (4, 'Arithmetic book'),
 (5, 'Eraser'))

#### To string

In [ ]:
dictToString = str(dictionary2)
dictToString

"{1: 'Pen', 10: 'Pencil', 20: 'Notebook', 3: 'Chemistry book', 4: 'Arithmetic book', 5: 'Eraser'}"

#### From list

In [ ]:
l1 = [['a',1],['b',2],['c',3]]

dictFromList = dict(l1)
dictFromList

{'a': 1, 'b': 2, 'c': 3}

#### From Tuple

In [ ]:
t1 = (('a',1),('b',2),('c',3))

dictFromList = dict(l1)
dictFromList

{'a': 1, 'b': 2, 'c': 3}

#### From string

In [ ]:
string1 = "a:1,b:2,c:3"

pairs = string1.split(',')
pairs

['a:1', 'b:2', 'c:3']

In [ ]:
emptyDict = {}
for pair in pairs:
    key, value = pair.split(':')
    print('The key is :',key)
    print('The value is :',value)
    print('\n')
    emptyDict[key] = int(value)

The key is : a
The value is : 1


The key is : b
The value is : 2


The key is : c
The value is : 3

In [ ]:
emptyDict

{'a': 1, 'b': 2, 'c': 3}

# Looping

### For Loop

In [71]:
# for(i = 0; i<=5 ; i++)
# {
#     printf("Welcome everyone.")
# }

In [ ]:
for numbers in range (0,5):
  print(numbers)

0
1
2
3
4

In [ ]:
for numbers in range (5):
  print(numbers)

0
1
2
3
4

####**range()** generates a sequence a number.

In [ ]:
for numbers in range (0,5,2):
  print(numbers)

0
2
4

#### In Python, a sequence and a list are related but not exactly the same.

#### - **Sequence:** It's a general term used to describe an ordered collection of items where you can access elements by their positions. Sequences can include various types like lists, tuples, strings, etc. They all maintain an order and allow indexing and slicing.

#### - **List:** A list is a specific type of sequence in Python. It's mutable, meaning you can add, remove, or modify elements after the list is created. Lists are denoted by square brackets **[ ]** and can hold elements of different data types.

#### **range()** returns a sequence called a "**range object.**"

#### A **range object** represents an immutable sequence of numbers and is designed to generate a **sequence of integers**.

#### It behaves like a sequence that allows iteration over the numbers it represents and supports **indexing** and **slicing**, but it doesn't store all the numbers in memory at once. Instead, it generates them as they are needed, making it memory efficient.

#### - **Indexing** : Accessing specific elements by their index within the range sequence. ####

#### - **Slicing** : Obtaining a subset of the sequence by specifying start, end, and step size within square brackets. ####

### List as a sequence.

In [7]:
rangeOfNum = range(5,15)
rangeOfNum

range(5, 15)

In [6]:
rangeOfNum[3]

8

In [8]:
rangeOfNum[10]

IndexError: range object index out of range

In [ ]:
rangeOfNum[0 : 8]

range(5, 13)

In [9]:
listOfNum = list(rangeOfNum[0 : 8])

listOfNum

[5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
iterationNum = 1
for elements in listOfNum:
    print(f'Iteration {iterationNum}')
    print(elements)
    iterationNum = iterationNum + 1
    print()

Iteration 1
5

Iteration 2
6

Iteration 3
7

Iteration 4
8

Iteration 5
9

Iteration 6
10

Iteration 7
11

Iteration 8
12

### List of string as a sequence

In [ ]:
listOfString = ['Hattori','Kenechi','Yumeko']
listOfString

['Hattori', 'Kenechi', 'Yumeko']

In [ ]:
iterationConstant = 1
for elements in listOfString:
    print(f'Iteration {iterationConstant}')
    print(elements)
    iterationConstant = iterationConstant + 1
    print()

Iteration 1
Hattori

Iteration 2
Kenechi

Iteration 3
Yumeko

### String as a sequence

In [ ]:
String1= "Hello"

constant = 1
for characters in String1:
    print(f'Iteration {constant}')
    print(characters)
    constant = constant + 1
    print()

Iteration 1
H

Iteration 2
e

Iteration 3
l

Iteration 4
l

Iteration 5
o

### Dictionary as a sequence

In [11]:
dictionary1 = {'a': 1, 'b': 2, 'c': 3}
c = 1
for keys,values in dictionary1.items():
    print(f'Iteration {c}')
    print('Key : {} \t Value : {}'.format(keys,values))
    c = c + 1
    print()

Iteration 1
Key : a 	 Value : 1

Iteration 2
Key : b 	 Value : 2

Iteration 3
Key : c 	 Value : 3

### While Loop

In [ ]:
count = 0
while count <= 10:
    print(count)
    count += 2

0
2
4
6
8
10

### Nested Loop

In [ ]:
for i in range(3):    # 0,1,2
    print()
    print('I')
    print(i)

    for j in range(2): # 0,1
        print('J')
        print(j)

I
0
J
0
J
1

I
1
J
0
J
1

I
2
J
0
J
1

### Loop control statements ###

In [ ]:
for i in range(5):
    if i == 2:
        continue
    if i == 4:
        break
    print(f'Value of variable i is : {i}')

Value of variable i is : 0
Value of variable i is : 1
Value of variable i is : 3

#### Order of statements can be significant in many cases.

In [ ]:
for i in range(5):
    print(f'Value of variable i is : {i}')
    if i == 2:
        continue
    if i == 4:
        break

Value of variable i is : 0
Value of variable i is : 1
Value of variable i is : 2
Value of variable i is : 3
Value of variable i is : 4

### Simulating do-while

In [ ]:
count = 0

while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

### Function

In [ ]:
def circumferenceOfCircle(r):
    circumference = 2 * (22/7) * r
    print ('The circumference of circle is {}.'.format(circumference))

In [ ]:
circumferenceOfCircle(4)

The circumference of circle is 25.142857142857142.

In [ ]:
circumferenceOfCircle(5)

The circumference of circle is 31.428571428571427.

In [ ]:
circumferenceOfCircle(6)

The circumference of circle is 37.714285714285715.